<header class="site-header">
  <div class="header-inner">
    <span class="header-course">UDS26 Urban Systems</span>
    <img
      src={`${import.meta.env.BASE_URL}/images/cornell-tech-logo.svg`}
      alt="Cornell Tech"
      class="header-logo"
    />
  </div>
</header>
